.loading {
    font-family: Helvetica, Arial,sans-serif;
    background-color: #242424;
}

.loading .default {
    color: #fff9cf;
}

.loading .false {
    color: #ff0000;
}

.loading .true {
    color: #009617;
}