.desktop {
  background-color: #1c1c1c;
  color: #fffff2;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

.desktop #logo {
  width: 300px;
}

.desktop #navbar {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: #15ff00;
  border-bottom: #15ff00;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  border-radius: 2px;
}

.desktop #navbar a {
  height: 33px;
  width: 240px;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #15ff00;
}

.desktop #navbar a span {
  height: fit-content;
}

.desktop #navbar a:hover {
  background-color: #15ff00;
  color: #1c1c1c;
}

.desktop #navbar .noactive {
  border-left: #15ff00;
  border-width: 3px;
  border-left-style: solid;
}