.mobile {
  background-color: #141414;
  color: #ffffea;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Helvetica, Arial, sans-serif;
}

.mobile #content {
  text-align: center;
  font-size: 87%;
}

.mobile #content a {
  color: #25ff25;
  text-decoration: none;
}

.mobile #content a:visited {
  color: #009cff;
}

.mobile #content a:hover {
  color: #8400ff;
}

.mobile #content #error {
  font-size: 26px;
  color: #ff0000;
}

.mobile #logo {
  width: 37%;
  margin-bottom: 1.4%;
}

.mobile #navbar {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: #25ff25;
  border-bottom: #25ff25;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  border-radius: 2px;
  margin-bottom: 5%;
}

.mobile #navbar a {
  height: 36px;
  width: 19%;
  border-radius: 2px;
  text-decoration: none;
  color: #25ff25;
  line-height: 32px;
  text-align: center;
  font-size: 80%;
}

.mobile #navbar a span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.mobile #navbar a:hover {
  background-color: #25ff25;
  color: #141414;
}

.mobile #navbar .noactive {
  border-left: #25ff25;
  border-width: 2px;
  border-left-style: solid;
}